/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 background-color: #transparent;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

/* Moon Widget Container */
#moon-widget {
  text-align: center;
  padding: 30px;
  border-radius: 30px;
  background-color: #205780;  
  
  max-width: 350px;
  width: 100%;
  

/* Header */
h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f1f1f1;
}

/* Current Date */
#current-date {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #b0c4de;  /* Light slate gray color */
}

/* Moon Phase Label */
#moon-phase {
  font-size: 1.5rem;
  margin: 20px 0;
  font-weight: 500;
  color: #f1f1f1;
  text-transform: capitalize;
}

/* Moon Emoji */
#moon-image {
  margin-top: 20px;
  font-size: 5rem;
  transition: transform 0.3s ease;
}

#moon-image:hover {
  transform: scale(1.1);
}
